<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>BD6791D4-DAE1-4EF6-B3AF-0C27F9548E12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01266CDC-48FE-43E7-886F-C58116CEA3A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D83FDEC5-1A53-4CAF-BE47-B8BBA8409CCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>032C0836-90FD-4D2D-A9F9-51BB02A27678</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Focus</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>focus</string>
				<key>subtext</key>
				<string>Focus you ADHD freak!</string>
				<key>text</key>
				<string>Focus!</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BD6791D4-DAE1-4EF6-B3AF-0C27F9548E12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputmode</key>
				<integer>-1</integer>
				<key>outputmode</key>
				<integer>0</integer>
				<key>shortcut</key>
				<string>Focus</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.runshortcut</string>
			<key>uid</key>
			<string>01266CDC-48FE-43E7-886F-C58116CEA3A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>focus off</string>
				<key>subtext</key>
				<string>Relax, you can stop now :)</string>
				<key>text</key>
				<string>Stop focusing</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D83FDEC5-1A53-4CAF-BE47-B8BBA8409CCC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputmode</key>
				<integer>-1</integer>
				<key>outputmode</key>
				<integer>0</integer>
				<key>shortcut</key>
				<string>Stop focus</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.runshortcut</string>
			<key>uid</key>
			<string>032C0836-90FD-4D2D-A9F9-51BB02A27678</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01266CDC-48FE-43E7-886F-C58116CEA3A4</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>032C0836-90FD-4D2D-A9F9-51BB02A27678</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>BD6791D4-DAE1-4EF6-B3AF-0C27F9548E12</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>D83FDEC5-1A53-4CAF-BE47-B8BBA8409CCC</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
