<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>02B5CAE8-DD99-4A93-B97E-77FB866E598F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB7E023D-5CA0-4638-ADBD-8547DF923251</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emojis</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>Space</string>
				<key>keycode</key>
				<integer>49</integer>
				<key>keymod</key>
				<integer>1310720</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>DB7E023D-5CA0-4638-ADBD-8547DF923251</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>emojis</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Emojis</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>02B5CAE8-DD99-4A93-B97E-77FB866E598F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>02B5CAE8-DD99-4A93-B97E-77FB866E598F</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>DB7E023D-5CA0-4638-ADBD-8547DF923251</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
