<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>6CC90227-2C03-4B0C-B2B8-110DC90D2653</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB651387-8547-4B90-958F-A8E3B5A8CE03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9EDFCD25-2361-4AEE-96F1-06DDB1245E9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB651387-8547-4B90-958F-A8E3B5A8CE03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB651387-8547-4B90-958F-A8E3B5A8CE03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB755FBD-5B80-4E14-84EA-15FA1F3C929F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Show Hidden Files</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>show hidden files</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Show Hidden Files</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9EDFCD25-2361-4AEE-96F1-06DDB1245E9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>defaults write com.apple.Finder AppleShowAllFiles true &amp;&amp; killall Finder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>CB651387-8547-4B90-958F-A8E3B5A8CE03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Whoopee! 🎉</string>
				<key>title</key>
				<string>Showing hidden files</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DB755FBD-5B80-4E14-84EA-15FA1F3C929F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hidden files</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Show Hidden Files</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6CC90227-2C03-4B0C-B2B8-110DC90D2653</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6CC90227-2C03-4B0C-B2B8-110DC90D2653</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>9EDFCD25-2361-4AEE-96F1-06DDB1245E9C</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>CB651387-8547-4B90-958F-A8E3B5A8CE03</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>DB755FBD-5B80-4E14-84EA-15FA1F3C929F</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
