<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>1251C2D9-84CF-4A02-B61C-F2FE822D13EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01DF602D-C1CF-48C7-A7FD-F1BD787142A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59CFCF07-52F8-4304-A6AF-A5555F491451</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01DF602D-C1CF-48C7-A7FD-F1BD787142A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>RGB to HEX Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rgb</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>RGB to HEX</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1251C2D9-84CF-4A02-B61C-F2FE822D13EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/search?q=rgb+to+hex&amp;rlz=1C5CHFA_enSE956SE956&amp;oq=rgb+to+&amp;aqs=chrome.0.0i67j69i57j0i67l8.1457j0j7&amp;sourceid=chrome&amp;ie=UTF-8</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>01DF602D-C1CF-48C7-A7FD-F1BD787142A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hex</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>HEX to RGB</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>59CFCF07-52F8-4304-A6AF-A5555F491451</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01DF602D-C1CF-48C7-A7FD-F1BD787142A7</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>1251C2D9-84CF-4A02-B61C-F2FE822D13EE</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>59CFCF07-52F8-4304-A6AF-A5555F491451</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
